table, th, td{
    border: 1px solid black;
}

.foreign-langauge{
    margin-left: 50px;
}

@media(max-width){
    img {
        float: right;
        display: inline;
    }
}

.places-header{
    margin-left: 50px;
}